https://lms.ithillel.ua/groups/63e50d8533e23140f194054d/homeworks/64b0f00ad0834863479a8794

ДЗ 16. Написати тести до сторінки з PageObjects

Наша команда має завдання написати тести, що перевірятимуть наявність та працезданість всіх єлементів сторінки https://qauto.forstudy.space/

Працівник, що був нанятий для створення тестів був мобілізований і не зміг дописати код.

Потрібно взяти код за основу і використовуючи патерн PageObjects написати 10 тестів, що перевірять:

Хоча б один елемент головного меню
Форму логіна - її заповнення та, власне, логін
Меню, що доступне зареестрованому користовачу
Додавання машини в гараж для зареєстрованого користувача
Наявність контактів з компанією на головній сторінці